.wrapper {
    background-color: #ead8ff;
    height: 65vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    background-image: 
    linear-gradient(to right, rgba(96, 96, 96, 0.1) 1px, transparent 1px),
    linear-gradient(to bottom, rgba(96, 96, 96, 0.1) 1px, transparent 1px);
    background-size: 40px 40px;
    border-bottom: 5px solid rgb(0, 0, 0);
}

.descrip-text {
    height: 60vh;
    width: 70vw;
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-size: 5rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
}
