.wrapper {
    background-color: #ffffa3;
    height: 65vh;
    width: 100vw;
}

.descrip-text {
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    font-size: 2rem;
}