.personal-projects-section {
    display: flex;
    flex-direction: row;
    width: 1120px;
    margin-bottom: 150px;
}

.personal-website-header {
    color: var(--White, #FFF);
    font-family: Manrope;
    font-size: 32px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    width: 514px;
    height: 48px;
}

.project-image {
    width: 550px;
    height: 372px;
    background: url('./personal-projects-images/personal-project.png');
    background-repeat: no-repeat;
    border: none;
    margin-right: 50px;
    background-size: cover;
}

.personal-website-content {
    width: 514px;
    height: 372px;
}

.personal-project-description {
    color: var(--White, #FFF);
    font-family: Manrope;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: 514px;
    height: 143px;
}

.languages-title {
    color: #FFF;
    font-family: Manrope;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.languages-text {
    color: #FFF;
    font-family: Manrope;
    font-size: 20px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}

.frameworks-title {
    color: #FFF;
    font-family: Manrope;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-top: 10px;
}

.frameworks-text {
    color: #FFF;
    font-family: Manrope;
    font-size: 20px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}

.pp-buttons {
    color: #FFF;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    border-radius: 20px;
    background: #0392F2;
}

.pp-button-section {
    margin-top: 20px;
    width: 377px;
    height: 44px;
}

.calculator-image {
    width: 550px;
    height: 372px;
    background: url('./personal-projects-images/calculator.png');
    background-repeat: no-repeat;
    border: none;
    margin-right: 50px;
    background-size: cover;
}

.seecode-button {
    color: white;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    border-radius: 20px;
    background: #67b37a;
}

.lol-image {
    width: 550px;
    height: 372px;
    background: url('./personal-projects-images/leagueoflegends\ 1.png');
    background-repeat: no-repeat;
    border: none;
    margin-right: 50px;
    background-size: cover;
}